.content {
	width: 960px;
    background-color: #ffffff;
    margin: 0px auto 0px auto;
    padding: 0px 20px 20px 20px;
    margin-top: 25px;
    border: 1px solid #dddddd;
    overflow: auto;
}
    
.topnav {
        background-color: rgb(143, 140, 140);
        overflow: hidden;
        text-align: right;
        
}

